Создайте БД

Таблицу  airliners

<img src="https://github.com/trisha00001/file/blob/main/airlinex.png?raw=true">
Заполните

In [ ]:
import pandas as pd
import sqlite3
%load_ext sql

%sql sqlite:///bd.db

In [ ]:
cnn = sqlite3.connect('bd.db')

In [ ]:
%%sql
CREATE TABLE airliners(
    id NVARCHAR (15),
    model_name NVARCHAR (25),
    range NVARCHAR (15),
    production_year NVARCHAR (15),
    color NVARCHAR (15),
    side_number ,
    country NVARCHAR (15),
    PRIMARY KEY (id)
)

 * sqlite:///bd.db
Done.

[]

In [ ]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [ ]:
%%sql
Select * from airliners

 * sqlite:///bd.db
Done.

[]

In [ ]:
cnn.close()

In [ ]:
id	model_name	range	production_year	color	side_number	country
00095579	Airbus A320-200	12800	2016	white	7729	Russia
00474576	Boeing 777-300	7899	2008	brown	5692	Russia
00434546	Boeing 777-300	7900	2008	brown	5693	Russia
00464547	Boeing 777-300	5999	2008	brown	5694	Russia
00913835	Airbus A320-200	14200	2000	white	3919	Germany
00243371	Airbus A320-200	10100	2005	white	562	Russia
00073581	Boeing 777-300	13700	2018	white	3267	Russia
00837896	Sukhoi Superjet-100	4199	2013	white	868	Russia
00837897	Sukhoi Superjet-100	4200	2013	white	869	Russia
00837898	Sukhoi Superjet-100	4201	2013	white	870	Russia
00108551	Airbus A320-200	13900	2017	white	6022	Russia
00473503	Airbus A321-200	10900	2012	white	8474	France
00871029	Boeing 777-300	12700	2002	white	4070	Germany
00974590	Boeing 777-300	13200	2005	white	488	Germany
00461862	Airbus A321-200	12800	2020	white	6039	France
00603813	Boeing 777-300	11700	2017	white	6001	Russia
00619341	Airbus A321-200	10600	2008	white	7561	Russia
00305881	Boeing 777-300	12300	2005	green	1426	Russia
00045877	Airbus A321-200	12900	1998	white	3879	Russia
00569298	Cessna 172	1000	1979	white	8304	Russia
00539298	Cessna 172	1001	1979	white	8305	Russia
00569299	Cessna 172	1200	1978	white	8306	Russia
00569399	Cessna 172	2500	1978	white	8307	Russia
00569279	Cessna 172	2501	1978	white	8308	Russia

In [ ]:

import csv
db     = sqlite3.connect('bd.db')

cursor = db.cursor()

In [ ]:
with open('airliners.csv', 'r', encoding='cp1252') as f:
    fcsv = csv.reader(f)
    recs_to_load = [record for record in fcsv]
    cursor.executemany("INSERT INTO airliners VALUES (?,?,?,?,?,?,?)", recs_to_load)


db.commit()
#db.close()

In [ ]:
%%sql
Select * from airliners

 * sqlite:///bd.db
Done.

[('id', 'model_name', 'range', 'production_year', 'color', 'side_number', 'country'),
 ('00095579', 'Airbus A320-200', '12800', '2016', 'white', '7729', 'Russia'),
 ('00474576', 'Boeing 777-300', '7899', '2008', 'brown', '5692', 'Russia'),
 ('00434546', 'Boeing 777-300', '7900', '2008', 'brown', '5693', 'Russia'),
 ('00464547', 'Boeing 777-300', '5999', '2008', 'brown', '5694', 'Russia'),
 ('00913835', 'Airbus A320-200', '14200', '2000', 'white', '3919', 'Germany'),
 ('00243371', 'Airbus A320-200', '10100', '2005', 'white', '562', 'Russia'),
 ('00073581', 'Boeing 777-300', '13700', '2018', 'white', '3267', 'Russia'),
 ('00837896', 'Sukhoi Superjet-100', '4199', '2013', 'white', '868', 'Russia'),
 ('00837897', 'Sukhoi Superjet-100', '4200', '2013', 'white', '869', 'Russia'),
 ('00837898', 'Sukhoi Superjet-100', '4201', '2013', 'white', '870', 'Russia'),
 ('00108551', 'Airbus A320-200', '13900', '2017', 'white', '6022', 'Russia'),
 ('00473503', 'Airbus A321-200', '10900', '2012', 'white', '8474', 'France'),
 ('00871029', 'Boeing 777-300', '12700', '2002', 'white', '4070', 'Germany'),
 ('00974590', 'Boeing 777-300', '13200', '2005', 'white', '488', 'Germany'),
 ('00461862', 'Airbus A321-200', '12800', '2020', 'white', '6039', 'France'),
 ('00603813', 'Boeing 777-300', '11700', '2017', 'white', '6001', 'Russia'),
 ('00619341', 'Airbus A321-200', '10600', '2008', 'white', '7561', 'Russia'),
 ('00305881', 'Boeing 777-300', '12300', '2005', 'green', '1426', 'Russia'),
 ('00045877', 'Airbus A321-200', '12900', '1998', 'white', '3879', 'Russia'),
 ('00569298', 'Cessna 172', '1000', '1979', 'white', '8304', 'Russia'),
 ('00539298', 'Cessna 172', '1001', '1979', 'white', '8305', 'Russia'),
 ('00569299', 'Cessna 172', '1200', '1978', 'white', '8306', 'Russia'),
 ('00569399', 'Cessna 172', '2500', '1978', 'white', '8307', 'Russia'),
 ('00569279', 'Cessna 172', '2501', '1978', 'white', '8308', 'Russia')]

In [ ]:
db.close()

In [ ]:
cnn = sqlite3.connect('bd.db')

Таблицу trips
<img src="https://github.com/trisha00001/file/blob/main/trips.png?raw=true">

In [ ]:
%%sql
CREATE TABLE trips(
    id NVARCHAR (15),
    trip_code NVARCHAR (25),
    departure NVARCHAR (15),
    arrival NVARCHAR (15),
    status NVARCHAR (15),
    airliner_id NVARCHAR (15),
    PRIMARY KEY (id)
)

 * sqlite:///bd.db
Done.

[]

Заполните

In [ ]:
id	trip_code	departure	arrival	status	airliner_id
AZLXFEICN9	FYKUZEYK	RZN	PBX	Departed	00073581
NXL5LGFPDZ	FYELLIVY	KEJ	PYJ	Departed	00045877
YBCCGNT4FB	FYDLCIYR	MRV	ABA	Departed	00305881
JKRUCXH7VM	FYBFSQHC	KJA	MQF	Scheduled	00619341
54GNK8KX0J	FYJBLFJF	NAL	IAR	Delayed	00913835
YRDP58VH7Z	FYQUGTHS	LED	AAQ	Arrived	00974590
QQZ8OIWT0I	FYBTHJNF	SVX	PKV	Scheduled	00603813
1OOOROHFT5	FYSIVZCT	KYZ	NYM	Scheduled	00461862
Z7I9LOO53W	FYXKFNBK	IJK	KSZ	Delayed	00473503
BKSVI3TXU0	FYNOHGPA	BZK	NOZ	Scheduled	00837897
NRE4AOEN0U	FYUOENIB	RVH	DME	Arrived	00473503
RL6EC4YWB1	FYYPDVXX	CNN	OSW	Departed	00837897
P1KMGIH0LB	FYQGVPDV	PES	NSK	Departed	00913835
DTN6F9SMFY	FYIZFTNS	MJZ	NNM	Arrived	00619341
I7OL2KZUTM	FYENZBWZ	KRR	PEE	Departed	00619341
0SE4S0HRRU	FYDKIBWN	TOX	KHV	Departed	00045877
5I5WU71AWR	FYYRTAUP	MQF	CYX	Departed	00073581
FIE30ZUHAU	FYXQGDKJ	NNM	MOW	Arrived	00108551
8RF8OIOVFR	FYIHSLAA	ABA	SCW	Delayed	00434546
JYYNPD5Q54	FYWTXNZF	STW	KHV	Cancelled	00461862
A71MZN54ZP	FYRGWMOU	TOF	KZN	Departed	00045877
DFCFUPV4XB	FYCSRAVD	AER	CSY	Departed	00095579
HCX33V5QUH	FYBHJBFQ	NNM	KRO	Departed	00045877
DAA22Y84O7	FYVJYQLI	ABA	KVX	Departed	00619341
30N25AXHAF	FYJLHCLF	DME	CYX	Cancelled	00473503
CNIKNNGF4Z	FYUTQQYR	DME	MMK	Departed	00108551
HC0MJ162ZZ	FYHVSSGY	OMS	RZN	Arrived	00108551
SFQ20OEYVR	FYKRPIYG	ARH	IKS	Scheduled	00871029
VR5SF5YIWN	FYCZRFLM	ESL	GOJ	Scheduled	00461862
X6FN294I1K	FYXLIUNH	RTW	EGO	Scheduled	00913835
J3B1J090J0	FYGQHJFE	BCX	KYZ	Scheduled	00434546
87RVI5T7A2	FYMKPDZC	OSW	STW	Arrived	00603813
1CZRH40E2L	FYIJUHTL	MMK	MOW	Arrived	00108551
MMI79V757K	FYTORWPK	KSZ	KLD	Arrived	00108551
5480GD0GIS	FYVXEQJW	SVO	SVX	Departed	00095579
Z3BPB534TR	FYLQYHXY	KHV	PKC	Arrived	00619341
B5L8IUXI1O	FYRHRAHE	NAL	OGZ	Departed	00913835
OZAO28DLFP	FYWTYJDC	PKV	MQF	Scheduled	00837897
XOY8HZ1LQ5	FYZFNFDC	ESL	CSY	Delayed	00461862
CG5B2D3KLA	FYAOCJJX	MJZ	UUS	Arrived	00871029
5QMWLJ4SOC	FYDKXSYX	PEE	KZN	Departed	00603813
8C9GNO8RBM	FYSLJUYP	PKV	BKA	Arrived	00305881
ZK9M965C68	FYXMFCQT	BZK	CEK	Scheduled	00913835
2NMMGC6EYC	FYCHPOHX	CEE	CKH	Arrived	00974590
BODSSG3E82	FYEEVFKF	DME	ROV	Cancelled	00871029
01BWVNX5Y6	FYMBJISR	UCT	AAQ	Arrived	00473503
1KIUNIRKJ0	FYAHGFMW	MCX	CNN	Departed	00913835
2O2OOCWMHY	FYJJSDGL	PVS	ROV	Arrived	00243371
LF1XAF7P9E	FYDPMJUK	DKS	PYJ	Departed	00243371
WIHYUQL6L4	FYKNDOIE	BKA	ADH	Arrived	00974590
PNKMZ4CY53	FYWAAXAX	PKV	TOF	Scheduled	00045877
4QST269XS7	FYSVZVTC	PKC	DME	Arrived	00108551
48AEBYYWRF	FYGOFGGS	AMV	OGZ	Arrived	00073581
VCKEGVKWW8	FYMQHLLW	NUX	GOJ	Scheduled	00473503
FN2S30I60G	FYWFBJPL	IKS	UUD	Scheduled	00434546
WEY6B7TDE6	FYXYBKXK	PYJ	TOF	Arrived	00243371
LL4S1G8PQW	FYPKNBGN	RTW	DYR	Arrived	00871029
JBI60Q2MGP	FYSZADHR	DME	KVX	Arrived	00913835
7D8SWXQ48V	FYYYFUIT	NAL	NUX	Scheduled	00305881
DZCBMKI9BU	FYGBZBCQ	DME	NAL	Departed	00603813
3AML9EO1ZU	FYWSRRLT	RVH	DME	Arrived	00837897
529DVPG56R	FYRJNVDV	BCX	HTA	Arrived	00913835
D1VLWQT9GD	FYDXJSJR	VKO	NSK	Departed	00045877
8GX4Z63QKE	FYLTSDSB	KUF	PBX	Scheduled	00974590
3WU3U5YSRV	FYBDTVEX	CEK	KSZ	Cancelled	00974590
3ZAQ90KNLJ	FYUKAZNV	HTA	KHV	Scheduled	00073581
Z1ZBYY6OL3	FYVADNYC	KRO	SGC	Scheduled	00619341
7AYT1ZEL9L	FYTSDYQF	ACS	STW	Arrived	00461862
MNSKOUBKF9	FYECNFGA	KHV	SVX	Arrived	00108551
5X1DUI7MXZ	FYUGYNWQ	BCX	RTW	Departed	00473503
NNNU1G3P7E	FYNDDJVU	DYR	SCW	Departed	00243371
18DMF6OGN9	FYLAZXFB	VKT	VKO	Departed	00619341
XYXL53SCQK	FYHTHJSQ	SGC	KGP	Delayed	00461862
UT37FSBM4O	FYMONFVU	KEJ	PYJ	Arrived	00305881
6FN3ZKYEVY	FYWGBVVX	IKS	NOZ	Scheduled	00095579
H27PNTQH4K	FYLVNAEX	NSK	RZN	Scheduled	00603813
M8L4LI30P2	FYBHJCIQ	PYJ	SGC	Arrived	00305881
QZV6ZMWWTB	FYFKGDGH	NSK	MMK	Cancelled	00305881
RQUAPVXU7I	FYTLTEYC	RTW	UUS	Scheduled	00473503
TRBF4TTDIU	FYTQYCMA	DME	LED	Delayed	00974590
FL98ACKIH1	FYNYHKCT	DME	VKT	Arrived	00603813
MSHHF6KLJT	FYFKRKVJ	TJM	KSZ	Scheduled	00619341
JQF04Q8I9G	FYIZWBNV	PEZ	ROV	Arrived	00073581
DQJN8Z0910	FYJKLZLE	NSK	CSY	Arrived	00913835
NWVY6OMNG7	FYCLQKGI	UCT	PEZ	Arrived	00837897
YJW1ZNCFBS	FYZFBTDO	KEJ	BTK	Scheduled	00619341
HXCMRFOB6P	FYVYYQRC	DKS	BTK	Scheduled	00871029
3XE7G7OE4P	FYNELFIN	UUD	NSK	Scheduled	00603813
8N2KAM9DEC	FYSPDVSV	ACS	IJK	Departed	00603813
41BVLBDKOH	FYYCTKNY	KUF	EGO	Scheduled	00603813
35OHWYY8IU	FYBVATBF	BWO	ROV	Scheduled	00619341
YOH0RM9VQF	FYXURBHU	ACS	OSW	Scheduled	00045877
YCXO645BFL	FYSLXGSG	VKO	DME	Arrived	00073581
8ZTSNCGKI5	FYOSOJBM	BQS	MOW	Arrived	00305881
YPKNDOQ55S	FYTSBUNH	MQF	KYZ	Scheduled	00603813
VTHTJMYTT0	FYCJUWEV	UUS	AMV	Arrived	00073581
THCLB4OOC0	FYGZIAIP	UFA	RZN	Departed	00913835
29RXLVJHVJ	FYBSRELS	PVS	KSZ	Departed	00095579
N7SRZUAXMM	FYVXIVHZ	KZN	DME	Arrived	00243371
QMWW87WUE2	FYJUOLRJ	OVB	GDX	Departed	00073581

In [ ]:
db     = sqlite3.connect('bd.db')

cursor = db.cursor()

In [ ]:
with open('trips.csv', 'r', encoding='cp1252') as f:
    fcsv = csv.reader(f)
    recs_to_load = [record for record in fcsv]
    cursor.executemany("INSERT INTO trips VALUES (?,?,?,?,?,?)", recs_to_load)


db.commit()

In [ ]:
%%sql
select * from trips

 * sqlite:///bd.db
Done.

[('id', 'trip_code', 'departure', 'arrival', 'status', 'airliner_id'),
 ('AZLXFEICN9', 'FYKUZEYK', 'RZN', 'PBX', 'Departed', '00073581'),
 ('NXL5LGFPDZ', 'FYELLIVY', 'KEJ', 'PYJ', 'Departed', '00045877'),
 ('YBCCGNT4FB', 'FYDLCIYR', 'MRV', 'ABA', 'Departed', '00305881'),
 ('JKRUCXH7VM', 'FYBFSQHC', 'KJA', 'MQF', 'Scheduled', '00619341'),
 ('54GNK8KX0J', 'FYJBLFJF', 'NAL', 'IAR', 'Delayed', '00913835'),
 ('YRDP58VH7Z', 'FYQUGTHS', 'LED', 'AAQ', 'Arrived', '00974590'),
 ('QQZ8OIWT0I', 'FYBTHJNF', 'SVX', 'PKV', 'Scheduled', '00603813'),
 ('1OOOROHFT5', 'FYSIVZCT', 'KYZ', 'NYM', 'Scheduled', '00461862'),
 ('Z7I9LOO53W', 'FYXKFNBK', 'IJK', 'KSZ', 'Delayed', '00473503'),
 ('BKSVI3TXU0', 'FYNOHGPA', 'BZK', 'NOZ', 'Scheduled', '00837897'),
 ('NRE4AOEN0U', 'FYUOENIB', 'RVH', 'DME', 'Arrived', '00473503'),
 ('RL6EC4YWB1', 'FYYPDVXX', 'CNN', 'OSW', 'Departed', '00837897'),
 ('P1KMGIH0LB', 'FYQGVPDV', 'PES', 'NSK', 'Departed', '00913835'),
 ('DTN6F9SMFY', 'FYIZFTNS', 'MJZ', 'NNM', 'Arrived', '00619341'),
 ('I7OL2KZUTM', 'FYENZBWZ', 'KRR', 'PEE', 'Departed', '00619341'),
 ('0SE4S0HRRU', 'FYDKIBWN', 'TOX', 'KHV', 'Departed', '00045877'),
 ('5I5WU71AWR', 'FYYRTAUP', 'MQF', 'CYX', 'Departed', '00073581'),
 ('FIE30ZUHAU', 'FYXQGDKJ', 'NNM', 'MOW', 'Arrived', '00108551'),
 ('8RF8OIOVFR', 'FYIHSLAA', 'ABA', 'SCW', 'Delayed', '00434546'),
 ('JYYNPD5Q54', 'FYWTXNZF', 'STW', 'KHV', 'Cancelled', '00461862'),
 ('A71MZN54ZP', 'FYRGWMOU', 'TOF', 'KZN', 'Departed', '00045877'),
 ('DFCFUPV4XB', 'FYCSRAVD', 'AER', 'CSY', 'Departed', '00095579'),
 ('HCX33V5QUH', 'FYBHJBFQ', 'NNM', 'KRO', 'Departed', '00045877'),
 ('DAA22Y84O7', 'FYVJYQLI', 'ABA', 'KVX', 'Departed', '00619341'),
 ('30N25AXHAF', 'FYJLHCLF', 'DME', 'CYX', 'Cancelled', '00473503'),
 ('CNIKNNGF4Z', 'FYUTQQYR', 'DME', 'MMK', 'Departed', '00108551'),
 ('HC0MJ162ZZ', 'FYHVSSGY', 'OMS', 'RZN', 'Arrived', '00108551'),
 ('SFQ20OEYVR', 'FYKRPIYG', 'ARH', 'IKS', 'Scheduled', '00871029'),
 ('VR5SF5YIWN', 'FYCZRFLM', 'ESL', 'GOJ', 'Scheduled', '00461862'),
 ('X6FN294I1K', 'FYXLIUNH', 'RTW', 'EGO', 'Scheduled', '00913835'),
 ('J3B1J090J0', 'FYGQHJFE', 'BCX', 'KYZ', 'Scheduled', '00434546'),
 ('87RVI5T7A2', 'FYMKPDZC', 'OSW', 'STW', 'Arrived', '00603813'),
 ('1CZRH40E2L', 'FYIJUHTL', 'MMK', 'MOW', 'Arrived', '00108551'),
 ('MMI79V757K', 'FYTORWPK', 'KSZ', 'KLD', 'Arrived', '00108551'),
 ('5480GD0GIS', 'FYVXEQJW', 'SVO', 'SVX', 'Departed', '00095579'),
 ('Z3BPB534TR', 'FYLQYHXY', 'KHV', 'PKC', 'Arrived', '00619341'),
 ('B5L8IUXI1O', 'FYRHRAHE', 'NAL', 'OGZ', 'Departed', '00913835'),
 ('OZAO28DLFP', 'FYWTYJDC', 'PKV', 'MQF', 'Scheduled', '00837897'),
 ('XOY8HZ1LQ5', 'FYZFNFDC', 'ESL', 'CSY', 'Delayed', '00461862'),
 ('CG5B2D3KLA', 'FYAOCJJX', 'MJZ', 'UUS', 'Arrived', '00871029'),
 ('5QMWLJ4SOC', 'FYDKXSYX', 'PEE', 'KZN', 'Departed', '00603813'),
 ('8C9GNO8RBM', 'FYSLJUYP', 'PKV', 'BKA', 'Arrived', '00305881'),
 ('ZK9M965C68', 'FYXMFCQT', 'BZK', 'CEK', 'Scheduled', '00913835'),
 ('2NMMGC6EYC', 'FYCHPOHX', 'CEE', 'CKH', 'Arrived', '00974590'),
 ('BODSSG3E82', 'FYEEVFKF', 'DME', 'ROV', 'Cancelled', '00871029'),
 ('01BWVNX5Y6', 'FYMBJISR', 'UCT', 'AAQ', 'Arrived', '00473503'),
 ('1KIUNIRKJ0', 'FYAHGFMW', 'MCX', 'CNN', 'Departed', '00913835'),
 ('2O2OOCWMHY', 'FYJJSDGL', 'PVS', 'ROV', 'Arrived', '00243371'),
 ('LF1XAF7P9E', 'FYDPMJUK', 'DKS', 'PYJ', 'Departed', '00243371'),
 ('WIHYUQL6L4', 'FYKNDOIE', 'BKA', 'ADH', 'Arrived', '00974590'),
 ('PNKMZ4CY53', 'FYWAAXAX', 'PKV', 'TOF', 'Scheduled', '00045877'),
 ('4QST269XS7', 'FYSVZVTC', 'PKC', 'DME', 'Arrived', '00108551'),
 ('48AEBYYWRF', 'FYGOFGGS', 'AMV', 'OGZ', 'Arrived', '00073581'),
 ('VCKEGVKWW8', 'FYMQHLLW', 'NUX', 'GOJ', 'Scheduled', '00473503'),
 ('FN2S30I60G', 'FYWFBJPL', 'IKS', 'UUD', 'Scheduled', '00434546'),
 ('WEY6B7TDE6', 'FYXYBKXK', 'PYJ', 'TOF', 'Arrived', '00243371'),
 ('LL4S1G8PQW', 'FYPKNBGN', 'RTW', 'DYR', 'Arrived', '00871029'),
 ('JBI60Q2MGP', 'FYSZADHR', 'DME', 'KVX', 'Arrived', '00913835'),
 ('7D8SWXQ48V', 'FYYYFUIT', 'NAL', 'NUX', 'Scheduled', '00305881'),
 ('DZCBMKI9BU', 'FYGBZBCQ', 'DME', 'NAL', 'Departed', '00603813'),
 ('3AML9EO1ZU', 'FYWSRRLT', 'RVH', 'DME', 'Arrived', '00837897'),
 ('529DVPG56R', 'FYRJNVDV', 'BCX', 'HTA', 'Arrived', '00913835'),
 ('D1VLWQT9GD', 'FYDXJSJR', 'VKO', 'NSK', 'Departed', '00045877'),
 ('8GX4Z63QKE', 'FYLTSDSB', 'KUF', 'PBX', 'Scheduled', '00974590'),
 ('3WU3U5YSRV', 'FYBDTVEX', 'CEK', 'KSZ', 'Cancelled', '00974590'),
 ('3ZAQ90KNLJ', 'FYUKAZNV', 'HTA', 'KHV', 'Scheduled', '00073581'),
 ('Z1ZBYY6OL3', 'FYVADNYC', 'KRO', 'SGC', 'Scheduled', '00619341'),
 ('7AYT1ZEL9L', 'FYTSDYQF', 'ACS', 'STW', 'Arrived', '00461862'),
 ('MNSKOUBKF9', 'FYECNFGA', 'KHV', 'SVX', 'Arrived', '00108551'),
 ('5X1DUI7MXZ', 'FYUGYNWQ', 'BCX', 'RTW', 'Departed', '00473503'),
 ('NNNU1G3P7E', 'FYNDDJVU', 'DYR', 'SCW', 'Departed', '00243371'),
 ('18DMF6OGN9', 'FYLAZXFB', 'VKT', 'VKO', 'Departed', '00619341'),
 ('XYXL53SCQK', 'FYHTHJSQ', 'SGC', 'KGP', 'Delayed', '00461862'),
 ('UT37FSBM4O', 'FYMONFVU', 'KEJ', 'PYJ', 'Arrived', '00305881'),
 ('6FN3ZKYEVY', 'FYWGBVVX', 'IKS', 'NOZ', 'Scheduled', '00095579'),
 ('H27PNTQH4K', 'FYLVNAEX', 'NSK', 'RZN', 'Scheduled', '00603813'),
 ('M8L4LI30P2', 'FYBHJCIQ', 'PYJ', 'SGC', 'Arrived', '00305881'),
 ('QZV6ZMWWTB', 'FYFKGDGH', 'NSK', 'MMK', 'Cancelled', '00305881'),
 ('RQUAPVXU7I', 'FYTLTEYC', 'RTW', 'UUS', 'Scheduled', '00473503'),
 ('TRBF4TTDIU', 'FYTQYCMA', 'DME', 'LED', 'Delayed', '00974590'),
 ('FL98ACKIH1', 'FYNYHKCT', 'DME', 'VKT', 'Arrived', '00603813'),
 ('MSHHF6KLJT', 'FYFKRKVJ', 'TJM', 'KSZ', 'Scheduled', '00619341'),
 ('JQF04Q8I9G', 'FYIZWBNV', 'PEZ', 'ROV', 'Arrived', '00073581'),
 ('DQJN8Z0910', 'FYJKLZLE', 'NSK', 'CSY', 'Arrived', '00913835'),
 ('NWVY6OMNG7', 'FYCLQKGI', 'UCT', 'PEZ', 'Arrived', '00837897'),
 ('YJW1ZNCFBS', 'FYZFBTDO', 'KEJ', 'BTK', 'Scheduled', '00619341'),
 ('HXCMRFOB6P', 'FYVYYQRC', 'DKS', 'BTK', 'Scheduled', '00871029'),
 ('3XE7G7OE4P', 'FYNELFIN', 'UUD', 'NSK', 'Scheduled', '00603813'),
 ('8N2KAM9DEC', 'FYSPDVSV', 'ACS', 'IJK', 'Departed', '00603813'),
 ('41BVLBDKOH', 'FYYCTKNY', 'KUF', 'EGO', 'Scheduled', '00603813'),
 ('35OHWYY8IU', 'FYBVATBF', 'BWO', 'ROV', 'Scheduled', '00619341'),
 ('YOH0RM9VQF', 'FYXURBHU', 'ACS', 'OSW', 'Scheduled', '00045877'),
 ('YCXO645BFL', 'FYSLXGSG', 'VKO', 'DME', 'Arrived', '00073581'),
 ('8ZTSNCGKI5', 'FYOSOJBM', 'BQS', 'MOW', 'Arrived', '00305881'),
 ('YPKNDOQ55S', 'FYTSBUNH', 'MQF', 'KYZ', 'Scheduled', '00603813'),
 ('VTHTJMYTT0', 'FYCJUWEV', 'UUS', 'AMV', 'Arrived', '00073581'),
 ('THCLB4OOC0', 'FYGZIAIP', 'UFA', 'RZN', 'Departed', '00913835'),
 ('29RXLVJHVJ', 'FYBSRELS', 'PVS', 'KSZ', 'Departed', '00095579'),
 ('N7SRZUAXMM', 'FYVXIVHZ', 'KZN', 'DME', 'Arrived', '00243371'),
 ('QMWW87WUE2', 'FYJUOLRJ', 'OVB', 'GDX', 'Departed', '00073581')]

Выведите все содержимое таблицы clients. В выборке должны присутствовать все семь атрибутов данной таблицы.
<img src="https://github.com/trisha00001/file/blob/main/client.png?raw=true">

In [ ]:
%%sql
CREATE TABLE clients(
    id NVARCHAR (15),
    name NVARCHAR (25),
    phone NVARCHAR (15),
    age int,
    PRIMARY KEY (id)
)

 * sqlite:///bd.db
Done.

[]

Заполните

In [ ]:
id	name	phone	age
LGEBN53X8I1Y	Ivan Egorov	+72630859116	40
4NRRAHARBISL	Vyacheslav Petrov	+72634849916	57
HKPSZUJQDQVG	Victor Volkov	+72630859116	21
M8TLNY8O5UYZ	Tatiana Pavlova	+70265999830	52
O0R58CGGIRCB	Elizaveta Egorova	+70524100898	65
BSR85GQFNRCB	Anna Morozova	+75198645540	62
QO75HHT3YFCV	Aleksandra Stepanova	+70512187274	71
L66RT0W5VFCV	Ludmila Ivanova	+77190012242	41
3EA2CXG3P3VW	Aleksandr Nikolaev	+71333997867	36
4CBL1CSSHTOZ	Dmitry Petrov	+76684550143	74
A1FDG6PIV84W	Denis Stepanov	+77140700202	26
MAFROHBKRFOF	Maria Egorova	+75763445454	54
P4TMWQHK4BPV	Angelina Petrova	+74505025239	50
41375QMWKX55	Nadezhda Popova	+72774899565	74
6DM0TK59KMP9	Boris Sokolov	+73451751747	36
YXBLICL96GXL	Nadezhda Ivanova	+77287237553	35
4A9FUE95UMTR	Daria Novikova	+79043659102	54
4A9FUE95UVTR	DARIA Novikova	+79043659103	24
HYS9XO5IUI4K	Daria Volkova	+72900278935	70
ZZIA7AEYNC8A	Maria Fedorova	+78932431470	28
9EQ0DBEU761J	Tatiana Volkova	+70867367875	70

In [ ]:
with open('clients.csv', 'r', encoding='cp1252') as f:
    fcsv = csv.reader(f)
    recs_to_load = [record for record in fcsv]
    cursor.executemany("INSERT INTO clients VALUES (?,?,?,?)", recs_to_load)


db.commit()

Выведите все содержимое таблицы tickets. В выборке должны присутствовать все семь атрибутов данной таблицы.
<img src="https://github.com/trisha00001/file/blob/main/clients.png?raw=true">

In [ ]:
%%sql
CREATE TABLE tickets(
    id NVARCHAR (15),
    trip_id NVARCHAR (25),
    service_class NVARCHAR (15),
    price int,
    client_id NVARCHAR (15),
    PRIMARY KEY (id)
)

 * sqlite:///bd.db
Done.

[]

In [ ]:
id	trip_id	service_class	price	client_id
UE01H8UCJQ8O	RL6EC4YWB1	Economy	10000	LGEBN53X8I1Y
WCADJ8UOTCWD	LL4S1G8PQW	Economy	10000	4NRRAHARBISL
MXFLZA9PHHWI	LL4S1G8PQW	Economy	10000	41375QMWKX55
WU6KOQZTRH3E	7D8SWXQ48V	Economy	10000	3EA2CXG3P3VW
OQ83AMHE59DM	8RF8OIOVFR	FirstClass	257460	4NRRAHARBISL
NKFQ4RNLXYEC	5QMWLJ4SOC	PremiumEconomy	20000	4NRRAHARBISL
3T9S9R8CRDVY	8RF8OIOVFR	Economy	25330	A1FDG6PIV84W
GSIGUCHIESDF	87RVI5T7A2	Economy	33750	L66RT0W5VKCO
2YOI2PSODQL3	WEY6B7TDE6	PremiumEconomy	19999	6DM0TK59KMP9
JWSMMHW2XMAB	87RVI5T7A2	Economy	65001	MAFROHBKRFOF
TQBQR0IMN32H	3ZAQ90KNLJ	PremiumEconomy	65001	HKPSZUJQDQVG
8NSZ3Y13W04A	OZAO28DLFP	Economy	10450	BSR85GQFNRCB
ZA39AID06OZN	XOY8HZ1LQ5	FirstClass	437660	O0R58CGGIQJD
WVXFO0DFSW73	H27PNTQH4K	Economy	23370	QO75HHT3YFCV
ZCQ7UFXD2I3K	HC0MJ162ZZ	Economy	41920	HKPSZUJQDQVG
H4GNE6O3CJ82	3XE7G7OE4P	Economy	18940	YXBLICL96GXL
E5TKAEGCMZ7W	35OHWYY8IU	PremiumEconomy	30001	6DM0TK59KMP9
3DGXUL6T9E8B	Z3BPB534TR	Economy	14170	P4TMWQHK4BPV
702ADQNIS69Z	87RVI5T7A2	Economy	23170	4NRRAHARBISL
IR71NM41MRLM	B5L8IUXI1O	Economy	36120	A1FDG6PIV84W
ZLN3ZYL2E7UD	LL4S1G8PQW	PremiumEconomy	65001	4CBL1CSSHTOZ
JJZ1LAYOR40K	NWVY6OMNG7	Economy	30380	4A9FUE95UMTR
02L9TNINKTTY	BODSSG3E82	PremiumEconomy	57370	A1FDG6PIV84W
5RJ9VEVLTIRR	P1KMGIH0LB	PremiumEconomy	33820	QO75HHT3YFCV
TVEHF8S5D1KL	41BVLBDKOH	Economy	32380	41375QMWKX55
18IWPW434XAU	JQF04Q8I9G	Economy	22490	HYS9XO5IUI4K
PQQH44EIOUNQ	UT37FSBM4O	Business	99999	9EQ0DBEU761J
WNO7QWHNQ1X6	DFCFUPV4XB	FirstClass	280240	MAFROHBKRFOF
PO3F39IYONF4	I7OL2KZUTM	Economy	36080	MAFROHBKRFOF
MZH0D5052IEQ	29RXLVJHVJ	Economy	24200	4NRRAHARBISL
8NN75L120I5Q	ZK9M965C68	PremiumEconomy	65000	ZZIA7AEYNC8A
HCCVSTRLNGJV	1OOOROHFT5	Economy	26290	YXBLICL96GXL
86274XSOSNJ6	OZAO28DLFP	Economy	39470	9EQ0DBEU761J
9Y93S7E4Q145	DTN6F9SMFY	Economy	46400	O0R58CGGIQJD
B7BH71HM23J7	WEY6B7TDE6	Economy	6950	L66RT0W5VKCO
OCNIND8J6YD7	6FN3ZKYEVY	Economy	46870	HYS9XO5IUI4K
A6LRS128V10I	YRDP58VH7Z	Economy	13200	MAFROHBKRFOF
CXSABAOA2CS2	WIHYUQL6L4	Economy	18470	ZZIA7AEYNC8A
Z2VWROS7T4IR	OZAO28DLFP	Economy	9610	A1FDG6PIV84W
7P4K971958IX	WEY6B7TDE6	Economy	7590	HKPSZUJQDQVG
VR9P4MQ6HJ8M	I7OL2KZUTM	Economy	45730	L66RT0W5VKCO
VJT08F5YKP7D	87RVI5T7A2	Economy	13201	6DM0TK59KMP9
ID17JOA1HZJL	DAA22Y84O7	Economy	39850	QO75HHT3YFCV
AA0MZV3QASIE	VR5SF5YIWN	Economy	35860	MAFROHBKRFOF
8UVQROLPPF2E	01BWVNX5Y6	PremiumEconomy	48900	4CBL1CSSHTOZ
UDE15B2QXYR5	DZCBMKI9BU	Economy	47900	YXBLICL96GXL
05XGD0C3SD0A	41BVLBDKOH	Economy	46310	HYS9XO5IUI4K
3Z45EW0ESQSK	VR5SF5YIWN	Business	9100	HYS9XO5IUI4K
3Z45EW0ESQMF	OZAO28DLFP	Business	9099	HYS9XO5IUI4K
3Z46EB0ESQMF	0SE4S0HRRU	Business	14999	HYS9XO5IUI4K
3Z46EBFEDQMF	0SE4S0HRRU	Business	15000	HYS9XO5IUI4K
3Z45EW0ESQSR	0SE4S0HRRU	Business	70401	HYS9XO5IUI4K
3Z45EW0ESQSF	0SE4S0HRRU	Business	170400	HYS9XO5IUI4K
2OUQ2N9GNF4A	DAA22Y84O7	Economy	48760	BSR85GQFNRCB
WI1OKUNNVU6D	VCKEGVKWW8	Economy	47110	4NRRAHARBISL

In [ ]:
with open('tickets.csv', 'r', encoding='cp1252') as f:
    fcsv = csv.reader(f)
    recs_to_load = [record for record in fcsv]
    cursor.executemany("INSERT INTO tickets VALUES (?,?,?,?,?)", recs_to_load)


db.commit()

Задача:

Выведите все содержимое таблицы airliners. В выборке должны присутствовать все семь атрибутов данной таблицы.

In [ ]:
%%sql
SELECT * FROM airliners

 * sqlite:///bd.db
Done.

[('id', 'model_name', 'range', 'production_year', 'color', 'side_number', 'country'),
 ('00095579', 'Airbus A320-200', '12800', '2016', 'white', '7729', 'Russia'),
 ('00474576', 'Boeing 777-300', '7899', '2008', 'brown', '5692', 'Russia'),
 ('00434546', 'Boeing 777-300', '7900', '2008', 'brown', '5693', 'Russia'),
 ('00464547', 'Boeing 777-300', '5999', '2008', 'brown', '5694', 'Russia'),
 ('00913835', 'Airbus A320-200', '14200', '2000', 'white', '3919', 'Germany'),
 ('00243371', 'Airbus A320-200', '10100', '2005', 'white', '562', 'Russia'),
 ('00073581', 'Boeing 777-300', '13700', '2018', 'white', '3267', 'Russia'),
 ('00837896', 'Sukhoi Superjet-100', '4199', '2013', 'white', '868', 'Russia'),
 ('00837897', 'Sukhoi Superjet-100', '4200', '2013', 'white', '869', 'Russia'),
 ('00837898', 'Sukhoi Superjet-100', '4201', '2013', 'white', '870', 'Russia'),
 ('00108551', 'Airbus A320-200', '13900', '2017', 'white', '6022', 'Russia'),
 ('00473503', 'Airbus A321-200', '10900', '2012', 'white', '8474', 'France'),
 ('00871029', 'Boeing 777-300', '12700', '2002', 'white', '4070', 'Germany'),
 ('00974590', 'Boeing 777-300', '13200', '2005', 'white', '488', 'Germany'),
 ('00461862', 'Airbus A321-200', '12800', '2020', 'white', '6039', 'France'),
 ('00603813', 'Boeing 777-300', '11700', '2017', 'white', '6001', 'Russia'),
 ('00619341', 'Airbus A321-200', '10600', '2008', 'white', '7561', 'Russia'),
 ('00305881', 'Boeing 777-300', '12300', '2005', 'green', '1426', 'Russia'),
 ('00045877', 'Airbus A321-200', '12900', '1998', 'white', '3879', 'Russia'),
 ('00569298', 'Cessna 172', '1000', '1979', 'white', '8304', 'Russia'),
 ('00539298', 'Cessna 172', '1001', '1979', 'white', '8305', 'Russia'),
 ('00569299', 'Cessna 172', '1200', '1978', 'white', '8306', 'Russia'),
 ('00569399', 'Cessna 172', '2500', '1978', 'white', '8307', 'Russia'),
 ('00569279', 'Cessna 172', '2501', '1978', 'white', '8308', 'Russia')]

Задача:

Выведите бортовые номера всех самолетов авиакомпании. В выборке должен присутствовать один атрибут — side_number.

In [ ]:
%%sql
SELECT side_number
FROM airliners

 * sqlite:///bd.db
Done.

[('side_number',),
 ('7729',),
 ('5692',),
 ('5693',),
 ('5694',),
 ('3919',),
 ('562',),
 ('3267',),
 ('868',),
 ('869',),
 ('870',),
 ('6022',),
 ('8474',),
 ('4070',),
 ('488',),
 ('6039',),
 ('6001',),
 ('7561',),
 ('1426',),
 ('3879',),
 ('8304',),
 ('8305',),
 ('8306',),
 ('8307',),
 ('8308',)]

Задача:

Выведите номера телефонов всех клиентов. Переименуйте поле в выводе в phone_number. В выборке должен присутствовать один атрибут — phone_number.

In [ ]:
%%sql
SELECT phone
FROM clients

 * sqlite:///bd.db
Done.

[('phone',),
 ('+72630859116',),
 ('+72634849916',),
 ('+72630859116',),
 ('+70265999830',),
 ('+70524100898',),
 ('+75198645540',),
 ('+70512187274',),
 ('+77190012242',),
 ('+71333997867',),
 ('+76684550143',),
 ('+77140700202',),
 ('+75763445454',),
 ('+74505025239',),
 ('+72774899565',),
 ('+73451751747',),
 ('+77287237553',),
 ('+79043659102',),
 ('+79043659103',),
 ('+72900278935',),
 ('+78932431470',),
 ('+70867367875',)]

Задача:

Руководство авиалиний рассматривает подходящий самолет для рейса Москва — Томск. Зная, что расстояние между городами составляет 3610 км, сотрудники рассчитали допустимую дальность полета самолета для данного рейса — 4200 км. Напишите запрос, который определит модели самолета c максимальной дальностью полета равна 4200 км. В выборке должен присутствовать один атрибут — model_name.

In [ ]:
%%sql
SELECT model_name
FROM airliners
WHERE range = '4200'
ORDER BY model_name;

 * sqlite:///bd.db
Done.

[('Sukhoi Superjet-100',)]

Задача:

Клиент ищет билеты из точки А в точку Б. Однако есть важное условие — стоимость билета не должна превышать 13200.
Напишите запрос, который выведет id билетов, стоимость которых меньше или равна 13200.
В выборке должен присутствовать один атрибут — id.

In [ ]:
%%sql
SELECT id
FROM tickets
WHERE price <= 13200;

 * sqlite:///bd.db
Done.

[('UE01H8UCJQ8O',),
 ('WCADJ8UOTCWD',),
 ('MXFLZA9PHHWI',),
 ('WU6KOQZTRH3E',),
 ('8NSZ3Y13W04A',),
 ('B7BH71HM23J7',),
 ('A6LRS128V10I',),
 ('Z2VWROS7T4IR',),
 ('7P4K971958IX',),
 ('3Z45EW0ESQSK',),
 ('3Z45EW0ESQMF',)]

Задача:

Выведите бортовые номера всех самолетов белого цвета. Известно, что у самолетов белого цвета атрибут color принимает значение 'white'.
В выборке должен присутствовать один атрибут — side_number.

In [ ]:
%%sql
SELECT side_number
FROM airliners
WHERE color = 'white';

 * sqlite:///bd.db
Done.

[('7729',),
 ('3919',),
 ('562',),
 ('3267',),
 ('868',),
 ('869',),
 ('870',),
 ('6022',),
 ('8474',),
 ('4070',),
 ('488',),
 ('6039',),
 ('6001',),
 ('7561',),
 ('3879',),
 ('8304',),
 ('8305',),
 ('8306',),
 ('8307',),
 ('8308',)]

Задача:

Для каждого самолета модели Cessna 172 выведите дальность полета. Имя столбца с результатом должно быть max_distance.
В выборке должен присутствовать один атрибут — max_distance.

In [ ]:
%%sql
SELECT range AS max_distance
FROM airliners
WHERE model_name = 'Cessna 172';

 * sqlite:///bd.db
Done.

[('1000',), ('1001',), ('1200',), ('2500',), ('2501',)]

Задача:

Определите рейсы с точкой назначения в аэропортах, коды которых PEZ, MMK и VKO.
В выборке должен присутствовать один атрибут — id.

In [ ]:
%%sql
SELECT id
FROM trips
WHERE arrival IN ('PEZ', 'MMK', 'VKO');

 * sqlite:///bd.db
Done.

[('CNIKNNGF4Z',), ('18DMF6OGN9',), ('QZV6ZMWWTB',), ('NWVY6OMNG7',)]

Задача:

Определите id рейсов, которые должны были вылететь из аэропорта Домодедово (DME), но были отменены.
В выборке должен присутствовать один атрибут — id.

In [ ]:
%%sql

SELECT id
FROM trips
WHERE departure = 'DME'
  AND status = 'Cancelled';

 * sqlite:///bd.db
Done.

[('30N25AXHAF',), ('BODSSG3E82',)]

Задача:

Определите модели самолетов, максимальная дальность полета которых находится в диапазоне от 4200 до 7900 включительно.
В выборке должен присутствовать один атрибут — model_name.

In [ ]:
%%sql
SELECT model_name
FROM airliners
WHERE CAST(range AS INTEGER) BETWEEN 4200 AND 7900;

 * sqlite:///bd.db
Done.

[('Boeing 777-300',),
 ('Boeing 777-300',),
 ('Boeing 777-300',),
 ('Sukhoi Superjet-100',),
 ('Sukhoi Superjet-100',)]

Задача:

Напишите запрос, который выведет id клиентов, чье значение атрибута name начинается на Daria.
В выборке должен присутствовать один атрибут — id.

In [ ]:
%%sql
SELECT id
FROM clients
WHERE name LIKE 'Daria%';

 * sqlite:///bd.db
Done.

[('4A9FUE95UMTR',), ('4A9FUE95UVTR',), ('HYS9XO5IUI4K',)]

Задача:

Аналитическое подразделение решило уточнить у авиакомпании количество билетов не бизнес-класса.
Напишите запрос, который выведет id билетов, класс обслуживания в которых отличен от бизнес-класса (Business).
В выборке должен присутствовать один атрибут — id.

In [ ]:
%%sql
select id
from tickets
where service_class not in ('Business');

 * sqlite:///bd.db
Done.

[('id',),
 ('UE01H8UCJQ8O',),
 ('WCADJ8UOTCWD',),
 ('MXFLZA9PHHWI',),
 ('WU6KOQZTRH3E',),
 ('OQ83AMHE59DM',),
 ('NKFQ4RNLXYEC',),
 ('3T9S9R8CRDVY',),
 ('GSIGUCHIESDF',),
 ('2YOI2PSODQL3',),
 ('JWSMMHW2XMAB',),
 ('TQBQR0IMN32H',),
 ('8NSZ3Y13W04A',),
 ('ZA39AID06OZN',),
 ('WVXFO0DFSW73',),
 ('ZCQ7UFXD2I3K',),
 ('H4GNE6O3CJ82',),
 ('E5TKAEGCMZ7W',),
 ('3DGXUL6T9E8B',),
 ('702ADQNIS69Z',),
 ('IR71NM41MRLM',),
 ('ZLN3ZYL2E7UD',),
 ('JJZ1LAYOR40K',),
 ('02L9TNINKTTY',),
 ('5RJ9VEVLTIRR',),
 ('TVEHF8S5D1KL',),
 ('18IWPW434XAU',),
 ('WNO7QWHNQ1X6',),
 ('PO3F39IYONF4',),
 ('MZH0D5052IEQ',),
 ('8NN75L120I5Q',),
 ('HCCVSTRLNGJV',),
 ('86274XSOSNJ6',),
 ('9Y93S7E4Q145',),
 ('B7BH71HM23J7',),
 ('OCNIND8J6YD7',),
 ('A6LRS128V10I',),
 ('CXSABAOA2CS2',),
 ('Z2VWROS7T4IR',),
 ('7P4K971958IX',),
 ('VR9P4MQ6HJ8M',),
 ('VJT08F5YKP7D',),
 ('ID17JOA1HZJL',),
 ('AA0MZV3QASIE',),
 ('8UVQROLPPF2E',),
 ('UDE15B2QXYR5',),
 ('05XGD0C3SD0A',),
 ('2OUQ2N9GNF4A',),
 ('WI1OKUNNVU6D',)]

In [ ]:
%%sql
select id
from tickets
where service_class != 'Business';

 * sqlite:///bd.db
Done.

[('id',),
 ('UE01H8UCJQ8O',),
 ('WCADJ8UOTCWD',),
 ('MXFLZA9PHHWI',),
 ('WU6KOQZTRH3E',),
 ('OQ83AMHE59DM',),
 ('NKFQ4RNLXYEC',),
 ('3T9S9R8CRDVY',),
 ('GSIGUCHIESDF',),
 ('2YOI2PSODQL3',),
 ('JWSMMHW2XMAB',),
 ('TQBQR0IMN32H',),
 ('8NSZ3Y13W04A',),
 ('ZA39AID06OZN',),
 ('WVXFO0DFSW73',),
 ('ZCQ7UFXD2I3K',),
 ('H4GNE6O3CJ82',),
 ('E5TKAEGCMZ7W',),
 ('3DGXUL6T9E8B',),
 ('702ADQNIS69Z',),
 ('IR71NM41MRLM',),
 ('ZLN3ZYL2E7UD',),
 ('JJZ1LAYOR40K',),
 ('02L9TNINKTTY',),
 ('5RJ9VEVLTIRR',),
 ('TVEHF8S5D1KL',),
 ('18IWPW434XAU',),
 ('WNO7QWHNQ1X6',),
 ('PO3F39IYONF4',),
 ('MZH0D5052IEQ',),
 ('8NN75L120I5Q',),
 ('HCCVSTRLNGJV',),
 ('86274XSOSNJ6',),
 ('9Y93S7E4Q145',),
 ('B7BH71HM23J7',),
 ('OCNIND8J6YD7',),
 ('A6LRS128V10I',),
 ('CXSABAOA2CS2',),
 ('Z2VWROS7T4IR',),
 ('7P4K971958IX',),
 ('VR9P4MQ6HJ8M',),
 ('VJT08F5YKP7D',),
 ('ID17JOA1HZJL',),
 ('AA0MZV3QASIE',),
 ('8UVQROLPPF2E',),
 ('UDE15B2QXYR5',),
 ('05XGD0C3SD0A',),
 ('2OUQ2N9GNF4A',),
 ('WI1OKUNNVU6D',)]

Задача:

Найдите пассажира, имя которого Denis, а фамилия начинается на S. Кроме того известно, что номер его телефона имеет вид +7XXX0700202. Три цифры начиная со второй неизвестны и заменены на X. В базе имя клиента хранится в формате 'Имя Фамилия'.
В выборке должны присутствовать два атрибута — id и name.

In [ ]:
%%sql
SELECT id, name
FROM clients
WHERE
    name LIKE 'Denis S%' AND
    phone LIKE '+7___0700202' AND
    LENGTH(phone) = 12;

 * sqlite:///bd.db
Done.

[('A1FDG6PIV84W', 'Denis Stepanov')]

Задача:

Найдите всех пассажиров с фамилией Volkov или Volkova, возраст которых от 21 до 25 включительно.
В выборке должен присутствовать один атрибут — id.

In [ ]:
%%sql
SELECT id
FROM clients
WHERE
    (name LIKE '% Volkov' OR name LIKE '% Volkova')
    AND age BETWEEN 21 AND 25;

 * sqlite:///bd.db
Done.

[('HKPSZUJQDQVG',)]

Задача:

Определите билеты бизнес-класса, цена которых не находится в диапазоне от 9100 до 70 400 включительно.
В выборке должны присутствовать два атрибута — id и price.

In [ ]:
%%sql
SELECT id, price
FROM tickets
WHERE
    service_class = 'Business'
    AND price NOT BETWEEN 9100 AND 70400
ORDER BY price;

 * sqlite:///bd.db
Done.

[('3Z45EW0ESQMF', 9099),
 ('3Z45EW0ESQSR', 70401),
 ('PQQH44EIOUNQ', 99999),
 ('3Z45EW0ESQSF', 170400)]

Задача:

Определите имена и фамилии пассажиров, чьи идентификаторы заканчиваются на RCB или FCV, а номера телефонов не начинаются на +705.
В выборке должен присутствовать один атрибут — name.

In [ ]:
%%sql
SELECT name
FROM clients
WHERE
    (id LIKE '%RCB' OR id LIKE '%FCV')
    AND phone NOT LIKE '+705%';

 * sqlite:///bd.db
Done.

[('Anna Morozova',), ('Ludmila Ivanova',)]

Задача:

После каждого рейса проходит плановая уборка салона. Результаты уборки вносятся в отчет-лист. Авиакомпания получила отчет, в котором указано, что во всех самолетах все места чистые, а спинки кресел исправные.
Выведите бортовой номер самолета, cформировав для каждой строки поле index с значением 'clean'.
В выборке должны присутствовать два атрибута — side_number и index.

In [ ]:
%%sql
SELECT
  side_number,
  'clean' AS 'index'
FROM airliners;

 * sqlite:///bd.db
Done.

[('side_number', 'clean'),
 ('7729', 'clean'),
 ('5692', 'clean'),
 ('5693', 'clean'),
 ('5694', 'clean'),
 ('3919', 'clean'),
 ('562', 'clean'),
 ('3267', 'clean'),
 ('868', 'clean'),
 ('869', 'clean'),
 ('870', 'clean'),
 ('6022', 'clean'),
 ('8474', 'clean'),
 ('4070', 'clean'),
 ('488', 'clean'),
 ('6039', 'clean'),
 ('6001', 'clean'),
 ('7561', 'clean'),
 ('1426', 'clean'),
 ('3879', 'clean'),
 ('8304', 'clean'),
 ('8305', 'clean'),
 ('8306', 'clean'),
 ('8307', 'clean'),
 ('8308', 'clean')]

Задача:

Выведите бортовые номера всех самолетов, которые зарегистрированы не в России. Добавьте в выборку самолеты, зарегистрированные в России, которые произведены не в 2005 и не в 2008 году и дальность полета которых больше 5000 км.

В выборке должен присутствовать один атрибут — side_number.

In [ ]:
%%sql
SELECT side_number
FROM airliners
WHERE
    -- Самолеты не из России
    country != 'Russia'

    UNION

    -- ИЛИ самолеты из России с дополнительными условиями
    SELECT side_number
    FROM airliners
    WHERE
        country = 'Russia'
        AND production_year NOT IN ('2005', '2008')
        AND CAST(range AS INTEGER) > 5000;

 * sqlite:///bd.db
Done.

[('3267',),
 ('3879',),
 ('3919',),
 ('4070',),
 ('488',),
 ('6001',),
 ('6022',),
 ('6039',),
 ('7729',),
 ('8474',),
 ('side_number',)]

In [ ]:
%%sql
SELECT side_number
FROM airliners
WHERE country not like 'Russia'
union
Select side_number
From airliners
Where country = 'Russia'
And production_year not BETWEEN '2005' AND '2008' AND range >'5000'

 * sqlite:///bd.db
Done.

[('3919',), ('4070',), ('488',), ('6039',), ('8474',), ('side_number',)]

Задача:

Выведите коды всех рейсов, в рамках которых воздушные судна в данный момент находятся в воздухе (статус таких рейсов — departed). В выборку должны попасть рейсы, аэропорт назначения которых MQF или ABA, а также рейсы, аэропорт отправления которых не PYJ и не CNN.
В выборке должен присутствовать один атрибут — trip_code.

In [ ]:
%%sql
SELECT trip_code
FROM trips
WHERE
    status = 'Departed'
    AND (
        arrival IN ('MQF', 'ABA')  -- Аэропорт назначения MQF или ABA
        OR
        departure NOT IN ('PYJ', 'CNN')  -- Аэропорт отправления не PYJ и не CNN
    );

 * sqlite:///bd.db
Done.

[('FYKUZEYK',),
 ('FYELLIVY',),
 ('FYDLCIYR',),
 ('FYQGVPDV',),
 ('FYENZBWZ',),
 ('FYDKIBWN',),
 ('FYYRTAUP',),
 ('FYRGWMOU',),
 ('FYCSRAVD',),
 ('FYBHJBFQ',),
 ('FYVJYQLI',),
 ('FYUTQQYR',),
 ('FYVXEQJW',),
 ('FYRHRAHE',),
 ('FYDKXSYX',),
 ('FYAHGFMW',),
 ('FYDPMJUK',),
 ('FYGBZBCQ',),
 ('FYDXJSJR',),
 ('FYUGYNWQ',),
 ('FYNDDJVU',),
 ('FYLAZXFB',),
 ('FYSPDVSV',),
 ('FYGZIAIP',),
 ('FYBSRELS',),
 ('FYJUOLRJ',)]

Задача:

Выведите идентификаторы билетов бизнес-класса дешевле 15 000 и эконом-класса дороже 65 000. Исключите из выборки билеты рейсов VR5SF5YIWN, OZAO28DLFP и LL4S1G8PQW, так как для них ценовая политика не меняется.
В выборке должен присутствовать один атрибут — id.

In [ ]:
%%sql
SELECT ID FROM TICKETS
WHERE
(
(UPPER(SERVICE_CLASS) NOT LIKE '%ECO%'
AND PRICE < 15000)
OR
WHERE (UPPER(SERVICE_CLASS) LIKE '%ECO%'
AND PRICE > 65000)
)
AND TRIP_ID NOT IN ('VR5SF5YIWN', 'OZAO28DLFP', 'LL4S1G8PQW')

 * sqlite:///bd.db
(sqlite3.OperationalError) near "WHERE": syntax error
[SQL: SELECT ID FROM TICKETS
WHERE
(
(UPPER(SERVICE_CLASS) NOT LIKE '%ECO%'
AND PRICE < 15000)
OR
WHERE (UPPER(SERVICE_CLASS) LIKE '%ECO%'
AND PRICE > 65000)
)
AND TRIP_ID NOT IN ('VR5SF5YIWN', 'OZAO28DLFP', 'LL4S1G8PQW')]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Задача:

В таблице trips коды перелетов должны начинаться на FY. Например, FYKUZEYK. Однако известно, что в данных есть ошибки и часть кодов имеет неправильный префикс. Найдите все такие коды.
В выборке должны присутствовать два атрибута — id, trip_code.

In [ ]:
%%sql
SELECT id
FROM tickets
WHERE (
    (service_class = 'Business' AND price < 15000)  -- бизнес-класс дешевле 15 000
    OR
    (service_class = 'Economy' AND price > 65000)  -- эконом-класс дороже 65 000
)
AND trip_id NOT IN ('VR5SF5YIWN', 'OZAO28DLFP', 'LL4S1G8PQW');  -- исключенные рейсы

 * sqlite:///bd.db
Done.

[('JWSMMHW2XMAB',), ('3Z46EB0ESQMF',)]

Задача:

Выведите коды всех рейсов, в рамках которых воздушные судна вылетели из Москвы и в данный момент находятся в воздухе (статус таких рейсов — departed). Коды аэропортов Москвы: SVO, VKO, DME.
В выборке должен присутствовать один атрибут — trip_code.

In [ ]:
%%sql

SELECT trip_code
FROM trips
WHERE
    status = 'Departed'
    AND departure IN ('SVO', 'VKO', 'DME');

 * sqlite:///bd.db
Done.

[('FYUTQQYR',), ('FYVXEQJW',), ('FYGBZBCQ',), ('FYDXJSJR',)]

Задача:

Выведите бортовые номера и дальность полета всех ближне- и дальнемагистральных самолетов. Примечание: ближнемагистральными считайте те, дальность полета которых > 1000 км и <= 2500 км. Дальнемагистральными — с дальностью полета >= 6000 км.
В выборке должны присутствовать два атрибута — side_number и range.

In [ ]:
%%sql
SELECT
    side_number,
    range,
    CASE
        WHEN CAST(range AS INTEGER) > 1000 AND CAST(range AS INTEGER) <= 2500 THEN 'Ближнемагистральный'
        WHEN CAST(range AS INTEGER) >= 6000 THEN 'Дальнемагистральный'
    END AS category
FROM airliners
WHERE
    (CAST(range AS INTEGER) > 1000 AND CAST(range AS INTEGER) <= 2500)
    OR
    CAST(range AS INTEGER) >= 6000;

 * sqlite:///bd.db
Done.

[('7729', '12800', 'Дальнемагистральный'),
 ('5692', '7899', 'Дальнемагистральный'),
 ('5693', '7900', 'Дальнемагистральный'),
 ('3919', '14200', 'Дальнемагистральный'),
 ('562', '10100', 'Дальнемагистральный'),
 ('3267', '13700', 'Дальнемагистральный'),
 ('6022', '13900', 'Дальнемагистральный'),
 ('8474', '10900', 'Дальнемагистральный'),
 ('4070', '12700', 'Дальнемагистральный'),
 ('488', '13200', 'Дальнемагистральный'),
 ('6039', '12800', 'Дальнемагистральный'),
 ('6001', '11700', 'Дальнемагистральный'),
 ('7561', '10600', 'Дальнемагистральный'),
 ('1426', '12300', 'Дальнемагистральный'),
 ('3879', '12900', 'Дальнемагистральный'),
 ('8305', '1001', 'Ближнемагистральный'),
 ('8306', '1200', 'Ближнемагистральный'),
 ('8307', '2500', 'Ближнемагистральный')]

Задача:

В таблице tickets повреждена часть данных, из-за этого идентификаторы некоторых рейсов приняли значение NULL. Выведите все номера билетов с измененными номерами рейсов.
В выборке должен присутствовать один атрибут — id.

In [ ]:
%%sql
SELECT id
FROM tickets
WHERE trip_id IS NULL;

 * sqlite:///bd.db
Done.

[]

Задача:

В таблице tickets повреждена часть данных, из-за этого номера некоторых рейсов приняли значение NULL. Определите класс обслуживания для билетов, номер рейса в которых задан корректно (значение не NULL).
В выборке должен присутствовать один атрибут — service_class.

In [ ]:
%%sql
SELECT service_class
FROM tickets
WHERE trip_id IS NOT NULL;

 * sqlite:///bd.db
Done.

[('service_class',),
 ('Economy',),
 ('Economy',),
 ('Economy',),
 ('Economy',),
 ('FirstClass',),
 ('PremiumEconomy',),
 ('Economy',),
 ('Economy',),
 ('PremiumEconomy',),
 ('Economy',),
 ('PremiumEconomy',),
 ('Economy',),
 ('FirstClass',),
 ('Economy',),
 ('Economy',),
 ('Economy',),
 ('PremiumEconomy',),
 ('Economy',),
 ('Economy',),
 ('Economy',),
 ('PremiumEconomy',),
 ('Economy',),
 ('PremiumEconomy',),
 ('PremiumEconomy',),
 ('Economy',),
 ('Economy',),
 ('Business',),
 ('FirstClass',),
 ('Economy',),
 ('Economy',),
 ('PremiumEconomy',),
 ('Economy',),
 ('Economy',),
 ('Economy',),
 ('Economy',),
 ('Economy',),
 ('Economy',),
 ('Economy',),
 ('Economy',),
 ('Economy',),
 ('Economy',),
 ('Economy',),
 ('Economy',),
 ('Economy',),
 ('PremiumEconomy',),
 ('Economy',),
 ('Economy',),
 ('Business',),
 ('Business',),
 ('Business',),
 ('Business',),
 ('Business',),
 ('Business',),
 ('Economy',),
 ('Economy',)]

Задача:

В таблице tickets повреждена часть данных, из-за этого номера некоторых рейсов и класс обслуживания некоторых билетов приняли значение NULL. Выведите идентификаторы билетов, класс обслуживания которых не Economy и не NULL. В решении попробуйте воспользоваться оператором NOT IN.
В выборке должен присутствовать один атрибут — id.

In [ ]:
%%sql
SELECT id
FROM tickets
WHERE
    service_class NOT IN ('Economy')
    AND service_class IS NOT NULL;

 * sqlite:///bd.db
Done.

[('id',),
 ('OQ83AMHE59DM',),
 ('NKFQ4RNLXYEC',),
 ('2YOI2PSODQL3',),
 ('TQBQR0IMN32H',),
 ('ZA39AID06OZN',),
 ('E5TKAEGCMZ7W',),
 ('ZLN3ZYL2E7UD',),
 ('02L9TNINKTTY',),
 ('5RJ9VEVLTIRR',),
 ('PQQH44EIOUNQ',),
 ('WNO7QWHNQ1X6',),
 ('8NN75L120I5Q',),
 ('8UVQROLPPF2E',),
 ('3Z45EW0ESQSK',),
 ('3Z45EW0ESQMF',),
 ('3Z46EB0ESQMF',),
 ('3Z46EBFEDQMF',),
 ('3Z45EW0ESQSR',),
 ('3Z45EW0ESQSF',)]

Задача:

Повреждения в таблице tickets оказались более серьезными, чем думалось. В каждом столбце потенциально могут находиться значения NULL.
Выведите все номера билетов, данные которых были повреждены (со значением NULL хотя бы в одном поле строки). Если номер билета сам оказался поврежденным, не выводите его.
В выборке должен присутствовать один атрибут — id.

In [ ]:
%%sql
SELECT id
FROM tickets
WHERE id IS NOT NULL
  AND (
      trip_id IS NULL
      OR service_class IS NULL
      OR price IS NULL
      OR client_id IS NULL
  );

 * sqlite:///bd.db
Done.

[]

Задача:

Найдите данные обо всех билетах с классом обслуживания не Economy и не Business. Таблица tickets может содержать значения NULL.
В выборке должны присутствовать два атрибута — id, trip_id.

In [ ]:
%%sql
SELECT id, trip_id
FROM tickets
WHERE
    (service_class NOT IN ('Economy', 'Business') OR service_class IS NULL)
    AND (service_class IS NOT NULL OR trip_id IS NOT NULL);

 * sqlite:///bd.db
Done.

[('id', 'trip_id'),
 ('OQ83AMHE59DM', '8RF8OIOVFR'),
 ('NKFQ4RNLXYEC', '5QMWLJ4SOC'),
 ('2YOI2PSODQL3', 'WEY6B7TDE6'),
 ('TQBQR0IMN32H', '3ZAQ90KNLJ'),
 ('ZA39AID06OZN', 'XOY8HZ1LQ5'),
 ('E5TKAEGCMZ7W', '35OHWYY8IU'),
 ('ZLN3ZYL2E7UD', 'LL4S1G8PQW'),
 ('02L9TNINKTTY', 'BODSSG3E82'),
 ('5RJ9VEVLTIRR', 'P1KMGIH0LB'),
 ('WNO7QWHNQ1X6', 'DFCFUPV4XB'),
 ('8NN75L120I5Q', 'ZK9M965C68'),
 ('8UVQROLPPF2E', '01BWVNX5Y6')]

Задача:

Номера некоторых билетов рейса RL6EC4YWB1 внесены в базу некорректно: два последних символа билетов серии UE01H8UCJQXX введены неправильно. То есть на месте символов XX находятся некорректные значения. Номера некоторых билетов имеют значение NULL. Найдите идентификаторы пассажиров всех некорректно введенных билетов.
В выборке должен присутствовать один атрибут — client_id.

In [ ]:
%%sql
SELECT client_id
FROM tickets
WHERE
    trip_id = 'RL6EC4YWB1'
    AND (
        (id LIKE 'UE01H8UCJQ%' AND LENGTH(id) = 11 AND id NOT LIKE 'UE01H8UCJQ__')
        OR id IS NULL
    );

 * sqlite:///bd.db
Done.

[]